name: Daily Run

on:
  schedule:
    - cron: '17 15 * * *' # Build every day
  workflow_dispatch:

jobs:
  upstream_nixpkgs:
    name: 'Build images off master'
    runs-on: ubuntu-18.04
    # Utilizing nixos/nix docker image v2.7.0
    container:
      image: nixos/nix@sha256:fc55b9bf9f61742a3fc262c0dc9ad62ea8ace014bb5bd4b11341da879e7b26ce
    steps:
      - name: 'Checkout'
        # actions checkout v1
        uses: actions/checkout@0b496e91ec7ae4428c3ed2eeb4c3a40df431f2cc
        with:
          ref: ${{ env.BRANCH }} # should always be master but might be something else if testing
      - name: 'Publish off latest nixpkgs master'
        run: |
          # Just need auth.json for skopeo
          cat << EOF > ./auth.json
          {
            "auths": {
              "https://index.docker.io/v1/": {
                "auth": "$(echo -n 'nwiauto:${{ secrets.NWIAUTO_PASSWORD }}' | base64)"
              }
            }
          }
          EOF
          export REGISTRY_AUTH_FILE=./auth.json

          # Beware of quoting here
          sha=$(nix-shell --run "curl --request GET --url 'https://api.github.com/repos/nixos/nixpkgs/commits?per_page=1' -H 'Accept: application/vnd.github.v3+json' | jq -r '.[0].sha'")
          export NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs/archive/${sha}.tar.gz
          # No need to create docker repos since we can assume they exist
          # just publish here
          nix-shell --run 'bash ./publish-imgs'
