# This yml handles linting nix configs for each PR
### Workflow
# 1. Developer writes nix configs
# 2. Developer pushes code up to fork and opens new PR
# 3. This job kicks off, verifying the new configuration they added
# 4. If the job suceeds, the PR is allowed to be merged. If not, the PR is unable to be merged

name: Lint Nix Configs
on: pull_request

jobs:
  linter:
    name: Run nixpkgs-fmt
    runs-on: ubuntu-18.04

    # Utilizing nixos/nix docker image v2.7.0
    container:
      image: nixos/nix@sha256:fc55b9bf9f61742a3fc262c0dc9ad62ea8ace014bb5bd4b11341da879e7b26ce

    steps:
        # Checks out repository to docker container
        # Utilizes the commit from the open PR
        # Using actions v1
      - name: Pulls Repository
        uses: actions/checkout@0b496e91ec7ae4428c3ed2eeb4c3a40df431f2cc
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      
        # Parses through all nix files using nixpkgs-fmt, outputting the diff
        # between the modded one and original if one of the new nix configs are not properly formatted
        # NOTE: When using `diff` in GitHub Actions, it causes script to forcibly exit, so workaround is to
        # unset e so that the script will "ignore" whatever return value is leaking in the diff command
      - name: Verify Nix Configs
        id: format
        run: |
          nix-shell --run '\
          cd $GITHUB_WORKSPACE
          has_failed="false"
          for file_path in $(find . -name "*.nix"); do
            fmt_file_path="${file_path%.*}_fmt.nix"
            cat $file_path | nixpkgs-fmt > $fmt_file_path

            set +e
            differences=$(diff $file_path $fmt_file_path)
            set -e

            if [ ! -z "$differences" ]; then
              printf "\n$differences\n"
              has_failed="true"
            else
              printf "$file_path passed formatting check.\n" 
            fi
          done
          if [ "$has_failed" == "true" ]; then
            echo "::error ::Some nix configs were not properly formatted beforehand with nixpkgs-fmt."
            exit 1
          fi'
        continue-on-error: false
